/*
    #version: 1.2
*/

#navigation {
    top: 0;
    height: 120px;
    position: sticky;
}

#navigation * {
    color: white;
    font-family: 'Consolas';
}

#navBackground {
    background-color: #292929;
    height: 120px;
    opacity: 0.99;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#navContent {
    position: absolute;
    top: 0;
    left: 0;
}

.navImageBorder {
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
}

/* <Navigation Image> */
.navImage {
    background-color: transparent;
    background-image: url('./../3dSphere.png');
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    float: left;
    border: 0px solid black;
}

.navImage:hover {
    opacity: 0.825;
    cursor: pointer;
}
/* </Navigation Image> */

.navSiteInfo {
    float: left;
    padding-left: 20px;
}

.navTitle {
    font-size: 22px;
}