#navigation {
    background-color: #282828;
    height: 140px;
}

.navImageBorder {
    padding-top: 25px;
    padding-left: 25px;
    overflow: hidden;
}

.navImage {
    width: 90px;
    height: 90px;
    border-radius: 6px;
    float: left;
}

.navInfo {
    float: left;
    padding-left: 20px;
}

.navTitle {
    font-size: 22px;
}

#navTabs {
    overflow-y: hidden;
    padding-left: 100px;
}

.navTab {
    background-color: #282828;
    border: 0px;
    border-radius: 10px;

    height: 100px;
    float: left;

    margin-right: 28px;

    font-size: 20px;
}

.navTab:hover {
    color: red;
}

.hoverr:hover {
    color: red;
}

.navTab:active {
    
}

.navTabImage {
    width: 60px;
    height: 60px;
    bottom: 0;
    margin-top: 8px; /* Some sort of bottom alignment please */
}