* {
    font-family: Arial;
    color: white;
}

body {
    background-color: #252525;
    margin: 0;
}

/* <ScrollBar> */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background: #303030;
}

::-webkit-scrollbar-thumb {
    background: #404040;
}

::-webkit-scrollbar-thumb:hover {
    background: #484848;
}
/* </ScrollBar> */

.headertext {
    font-size: 38px;
}

.subtitle {
    font-size: 24px;
}

.pTitle {
    font-size: 20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: 6px;
    margin-bottom: 6px;
}