#navigation {
    top: 0;
    height: 140px;
    position: sticky;
}

#navBackground {
    background-color: #292929;
    height: 140px;
    opacity: 0.99;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#navContent {
    position: absolute;
    top: 0;
    left: 0;
}

.navImageBorder {
    padding-top: 25px;
    padding-left: 25px;
    overflow: hidden;
}

.navImage {
    background-color: transparent;
    background-image: url('../images/3dSphere.png');
    background-size: 90px 90px;
    width: 90px;
    height: 90px;
    border-radius: 6px;
    float: left;
    border: 0px solid black;
}

.navImage:hover {
    opacity: 0.825;
    cursor: pointer;
}

.navTitle {
    font-size: 22px;
}

.navInfo {
    float: left;
    padding-left: 20px;
}

.navWikiInfo {
    float: left;
    padding-left: 20px;
}

#navTabs {
    overflow-y: hidden;
    padding-left: 100px;
}

.navTab {
    background-color: #282828;
    border: 0px;
    border-radius: 10px;

    height: 100px;
    float: left;

    margin-right: 28px;

    font-size: 20px;
}

.navTab:hover {
    color: red;
}

.hoverr:hover {
    color: red;
}

.navTab:active {
    
}

.navTabImage {
    width: 60px;
    height: 60px;
    bottom: 0;
    margin-top: 8px; /* Some sort of bottom alignment please */
}